h1{
    color:ghostwhite;
}
h2{
    color:ghostwhite;
}
h3{
    color:ghostwhite;
}
body{
    background-image: url(http://wallpapercave.com/wp/tAnDh7Y.jpg);
    font-size:18pt;
    font-family:"calibri";
    font-color:ghostwhite;
}
main{
    font-color:ghostwhite;
}